
<!-- Portfolio Items Modal  -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <section id="portfolio">
              <div class="row">
                <%i = 0%>
                <%@samples.each do |sample|%>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                      <a href="#portfolioModal<%=i%>" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                            <i class="fa fa-hand-pointer-o fa-3x"></i>
                          </div>
                        </div>
                        <%=image_tag(sample.photo.url, :class => 'img-responsive')%>
                      </a>
                      <div class="portfolio-caption">
                        <h4><%=sample.model_title%></h4>
                      </div>
                    </div>
                    <%i = i + 1%>
                <%end%>
              </div>
                </section>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Portfolio Modal #i  -->
<%i = 0%>
<%@samples.each do |sample|%>
<div class="portfolio-modal modal fade" id="portfolioModal<%=i%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2><%=sample.model_title%></h2>
              <%=image_tag(sample.photo.url, :class => 'img-responsive img-centered')%>
              <p><%=sample.sample_description%></p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <%i = i + 1%>
<%end%>