<!-- Navbar-->
<%=render "navbar"%>

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="#info" class="page-scroll btn btn-xl">УЗНАТЬ БОЛЬШЕ</a>
    </div>
  </div>
</header>

<!-- Services Section -->
<%=render "info"%>

<%=render "portfolio"%>

<%=render "prices"%>

<%=render "contacts"%>

<!--<div id="contacts">
  <h2>Контакты</h2>
  <p>8 (977) 533 75 56</p>
  <h2>Адрес</h2>
  <p>Текст или yandex maps</p>
</div>-->

<!--<div id="adress">
  <h2>Адрес</h2>
  <p>Текст или yandex maps</p>
</div>-->


<%=render "modals"%>