<!-- Navbar-->
<%=render "navbar"%>

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Добро пожаловать!</div>
      <div class="intro-heading">Мы рады видеть вас!</div>
      <a href="#info" class="page-scroll btn btn-xl">УЗНАТЬ БОЛЬШЕ</a>
    </div>
  </div>
</header>

<%=render "info"%>

<%=render "portfolio"%>

<%=render "prices"%>

<%=render "contacts"%>

<%=render "contact_us"%>


<%=render "footer"%>
<%=render "modal_categories"%>
<%=render "modal_items"%>
<%=render "modal_item"%>